version: '3.8'

services:
  php:
    build: .
    ports:
      - "7000:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - mysql

  mysql:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: Vrieskist@247
      MYSQL_DATABASE: mbogodigital
      MYSQL_USER: mbogodigitalUser
      MYSQL_PASSWORD: Vrieskist@247
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
